@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

body,
html {
  background-color: black;
}

body.high-contrast {
    background-color: #000;
    color: #FFF;
}

#landing-page {
    height: 100vh;
}

#personal-logo {
  width: 50px;
  height: 50px;
  line-height: 0.5;
}

.orange {
    color: #ff7518;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.nav__link--anchor {
  font-size: 16px;
  color: #fff;
}

.link__hover-effect {
  position: relative;
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 3px;
  width: 0;
  right: 0;
  transition: all 300ms ease;
}

.link__hover-effect--black:after {
  background-color: white;
}

.link__hover-effect:hover:after {
  left: 0;
  width: 100%;
}

ul {
  display: flex;
  align-items: center;
width: 100%;
  gap: 40px;
  line-height: 2.5;
  margin: 0 30px;
}

.nav__right {
  display: flex;
align-items: center;
 margin: 0 20px;
 gap: 40px;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style-type: none;
}

h1,
p {
  margin: 0;
  padding: 10px;
}

button {
  cursor: pointer;
}

.click {
  cursor: pointer;
  transition: all 300ms ease;
}

.click:hover {
  transform: scale(1.1);
}

.click:active {
  transform: scale(0.8);
}

.nav__link--list {
  font-size: 18px;
  margin: 0 80px;
}


.login__btn {
  width: 90px;
  height: 40px;
  align-items: center;
  border-radius: 10px;
  background-color: ghostwhite;
  font-size: 17px;
  margin: 0 200px;
  font-weight: bold;
}

.search__bar {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.movie__bar {
  width: 250px;
  height: 40px;
  border-radius: 7px;
  border: 0.5px solid #242424;
  padding: 10px 0 10px 35px;
  color: #fff;
  font-size: 16px;
  position: absolute;
  z-index: 1;
  transition: border-color 300ms;
  background-color: #242424;
  margin: 0 5px;
}

.movie__bar::placeholder {
  color: white;
}

.movie__bar:hover {
  border-color: #242424;
}

.movie__bar:focus,
.movie__bar:active {
    outline: white solid 2px;
    outline-offset: 0.5px;
}

.btn__search {
  z-index: 2;
margin: 0 12px;
  color: white;
  font-size: 20px;
  transition: all 300ms;
}



/* HEADER */

.header {
  background-image: url("./sunset-3189813_1280.jpg");
  background-repeat: no-repeat;
  height: calc(100vh - 54px);
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.movie__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header__description {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 57vh;
}

.header__description--title {
  font-size: 70px;
  font-weight: 700;
  display: flex;
  align-items: baseline;
  color: white;
}

.movie__one {
    position: relative;
  width: 100%;
  height: 35vh;
  border: 1px solid transparent;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.movie__description {
    position: absolute;
   top: 50%;
   transform: translateY(100%);
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.6);
   color: #fff;
   text-align: center;
   padding: 20px;
   transition: transform 0.5s ease;
}

.movie__one:hover .movie__description {
   transform: translateY(-50%);
}

.movie__one {
    transform: scale(1.1);
}

.movie1 {
  width: 306.4px;
  height: 343.34px;
  transition: transform 0.3s ease;
}

.movie__description--title {
font-size: 22px;
margin: 15px 0;
font-weight: bold;
}

.movie__btn {
    font-size: 18px;
    padding: 8px 25px;
    font-weight: bold;
    border-radius: 20px;
    margin: 20px 0;
    background-color: #ff7518;
}

.movie__para {
    font-size: 17px;
    margin: 12px 0;
}

/* ABOUT */

.about__container {
    background-color: black;
    height: 100vh;
    text-align: center;
    padding: 65px 0;
}

.about__description {
    font-size: 17px;
    color: grey;
}

.about__decription--title {
    font-size: 45px;
    margin: 10px 0;
    color: white;
}

.about__para {
    font-size: 19px;
    margin: 10px 0;
    align-items: center;
    width: calc(100% / 2);
    margin: 0 auto;
    color: white;
}

.about__box {
 

}
.about__img {
  width: 100%;
  height: 70vh;
  position: relative;
  padding: 17px 0;
}

/* FOOTER */

#footer {
   background-color: black;
   color:white;
   text-align: center;
  margin-top: 12px;
height: 30vh;
width: 100%;
padding: 40px 0;
}

.footer__personal-logo {
    width: 80px;
    height: 80px;
    margin: 15px 0;
}

.footer__link {
    font-size: 20px;
  margin: 0 20px;
}

.footer__copyright {
    font-size: 20px;
    margin: 20px 0;
}